<!--<div class="jumbotron">
	<h1>ASP.NET</h1>
	<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
		a broad range of clients, including browsers and mobile devices. ASP.NET Web API
		is an ideal platform for building RESTful applications on the .NET Framework.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
	</div>
</div>-->

<div>
	<h1>Search</h1>
	<p>Enter the search terms:</p>
	<p>
		<div>
			<input id="textBoxText" type="search" width="200" />
			<button id="submitBtn" type="button" onclick="searchSubmit()">Search</button>
			<br />
			<h2>Search Results</h2>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<table class="table table-bordered table-hover" id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">
									Id
								</th>
								<th class="text-center">
									Full Name
								</th>
								<th class="text-center">
									Street Address
								</th>
								<th class="text-center">
									City, State Zipcode
								</th>
							</tr>
						</thead>
						<tbody>
							<tr id='addr0'></tr>
							<tr id='addr1'></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</p>
</div>
<script>
	function searchSubmit() {
		var str = document.getElementById("textBoxText").value;
		if (str === "") {
			return;
		}
		str = str.replace(/[^a-zA-Z0-9 ,]/g, "")
		var request = new XMLHttpRequest();
		var domName = window.location.origin;
		var fullApiPath = domName + '/api/people/GetMatches/' + str;
		request.open('GET', fullApiPath, true);
		request.onload = function () {

			// Begin accessing JSON data here
			var data = JSON.parse(this.response);
			var er = document.getElementById('wrapper');
			var i = 0;

			if (request.status >= 200 && request.status < 400) {
				if (data === null) {

				}
				data.forEach(people => {
					console.log(people.FirstName + ' ' + people.LastName + ' ' + people.Id + '\n');
					
					$('#addr' + i).html(
						"<td><input name='id" + i + "' type='text' value='" + people.Id +
						"' class='form-control input-md' disabled='true' /> </td><td><input name='fullName' type='text' value='"
						+ people.FirstName + " " + people.LastName + "' class='form-control input-md' disabled='true'></td>" +
						"<td> <input name='streetAddress' type='text' value='"
						+ people.StreetAddressLine01 + "\n " + people.StreetAddressLine02 + "' class='form-control input-md' disabled='true'></td>" +
						"<td> <input name='cityStateZip' type='text' value='"
						+ people.City + ", " + people.State + " " + people.ZipCode + "' class='form-control input-md'disabled='true' ></td>");

					$('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
					i++;
				});
			} else {
				console.log('error');
			}
		}

		request.send();
	}
</script>

